.header {
    border-bottom: 1px solid #d4d4d4;
    box-shadow: 0 0 10px #d4d4d4;
    padding: 30px 0;
}
.header__box {
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.header__box__logo--logo {
    color: #333;
    font-family: var(--fontFamily2);
    font-size: 50px;
    font-weight: 800;
    position: relative;
    text-shadow: 1px 4px 6px #c3bebe;
}
.header__box__logo--logo strong {
    display: block;
    font-size: 14px;
    position: absolute;
    right: 0;
    top: 0px;
}
.header__box__search {
    align-items: center;
    display: flex;
}
.header__search {
    max-width: 100%;
    position: relative;
    width: 600px;
}
.search--mobile {
    display: none;
}
.search-field {
    background-color: #fffffe;
    border: 1px solid #d4d4d4;
    -webkit-box-shadow: 0 2px 4px 0 hsla(0,0%,49%,.2);
    box-shadow: 0 2px 4px 0 hsla(0,0%,49%,.2);
    border-radius: 3px;
    display: -ms-flexbox;
    display: flex;
    padding: 10px;
    position: relative;
    width: 100%;
    -ms-flex-align: center;
    align-items: center;
}
.search-field__icon-container {
    border-left: 1px solid #d4d4d4;
    color:  #9393ab;
    padding-left: 10px;
}
.search-field__icon-container .fa {
    font-size: 20px;
}
.header__search__error {
    align-items: center;
    background: var(--white);
    border: 1px solid #d88722;
    border-radius: 4px;
    bottom: -50px;
    display: flex;
    font-size: 12px;
    left: 0;
    padding: 10px;
    position: absolute;
    width: 166px;
}
.header__search__error::after{
    background: var(--white);
    border-left: 1px solid #d88722;
    border-top: 1px solid #d88722;
    content: '';
    height: 10px;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    top: -7px;
    transform: rotate(45deg);
    width: 10px;
}
.header__search__error .fa {
    color: #d88722;
    font-size: 16px;
    margin-right: 10px;
}
.header__box__theme {
    font-size: 25px;
    margin-left: 20px;
    width: 20px;
}
.header__box__theme .fa{
    cursor: pointer;
    display: none;
}
.search-field__input {
    border: none;
    outline: none;
    width: 100%;
}

@media screen and (max-width: 960px) {
    .header{
        padding: 20px 0;
    }
    .search-field {
        display: none;
    }
    .search-field.search-field--open {
        display: flex;
        position: absolute;
        right: 0;
        top: 25px;
    }
    .search--mobile {
        cursor: pointer;
        display: flex;
        font-size: 20px;
        justify-content: flex-end;
    }
    .header__box__search {
        width: 400px;
        max-width: 100%;
    }
}

@media screen and (max-width: 568px) {
    .header__search{
        width: 100%;
    }
    .header__box__search {
        flex: 1;
    }
    .header__box__logo {
        flex: 1;
    }
    .header__box__logo--logo{
        display: inline-block;
    }
}

@media screen and (max-width: 480px) {
    .header{
        padding: 10px 0;
    }
    .header__box__logo--logo{
        font-size: 35px;
    }
    .header__box__logo--logo strong{
        font-size: 11px;
        right: 10px;
        top: 0;
    }
    .header__box__logo--logo{
        display: flex;
    }
    .search-field.search-field--open{
        width: 240px;
    }
}