.btn{
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    outline: none;
    padding: 5px 15px 5px 10px;
}
.btn i{
    margin-right: 5px;
}
.btn.success{
    color: #155724;
    background-color: #6cda86;
}
.btn.error{
    background-color: #f80d23;
    color: #fff;
}