html {
    height: 100%;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: var(--fontFamily1);
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    min-height: 100%;
    padding: 0;
}
*{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}
input {
    -webkit-appearance: none;
    border: none;
    outline: none;
}
input::placeholder { 
    color: #999; 
}
input[type="submit"]{
    background: #eaeaea;
    cursor: pointer;
    font-family: var(--fontFamily1);
    font-size: 16px;
    font-weight: 300;
    padding: 7px 20px;
    transition: box-shadow 0.5s ease-in-out;
}
input[type="submit"]:hover{
    box-shadow: 10px 10px 15px #c1c4c5;
}
a{
    text-decoration: none;
}

/* Change Autocomplete styles in Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--white);
  -webkit-text-fill-color: var(--black);
  -webkit-box-shadow: 0 0 0px 1000px var(--black) inset;
  transition: background-color 1.5s ease-in-out 0s;
}

/* Grid */
.wrap {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 100%;
    width: 1280px;
}