.footer {
    background: #fafafa;
    color: var(--black);
    padding: 50px 0;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 812px){
    .footer{
        bottom: 0;
        left: 0;;
        position: fixed;
    }
}

@media screen and (max-width: 568px){
    .footer {
        padding: 20px 0;
    }
    .footer__copyright span:first-child {
        display: none;
    }
    .footer__copyright span{
        display: block;
    }
}