.cotainer__content {
    display: flex;
    justify-content: space-around;
    padding: 20px 15px;
}

.box-crud {
    max-width: 100%;
    width: 600px;
}

@media screen and (max-width: 812px){
    .container {
        padding-bottom: 120px;
    }
}

@media screen and (max-width: 568px){
    .container {
        padding-bottom: 78px;
    }
}