#svg-map path { fill:#0094d9 }
#svg-map text { fill:#fff; font:12px Arial-BoldMT, sans-serif; cursor:pointer }
#svg-map a{ text-decoration:none;}
#svg-map a path{ transition: fill 0.5s ease-in-out }
#svg-map a:hover { cursor:pointer; text-decoration:none }
#svg-map a:hover path{ fill:#003399 !important }
#svg-map .circle { fill:#66ccff }
#svg-map a:hover .circle { fill:#003399 !important; cursor:pointer }
.map{
    max-width: 100%;
    padding: 0 20px;
    width: 550px;
}
.map h2 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: center;
}

@media screen and (max-width: 812px) {
    .map {
        display: none;
    }
}