.forms .tab{
    background: #eaeaea;
    border-bottom: 1px solid #c1c4c5;
    border-left: 1px solid #c1c4c5;
    border-right: 1px solid #c1c4c5;
    border-top: 1px solid #c1c4c5;
    display: none;
    padding: 20px;
}
.forms .tab.tabActive{
    display: block;
}
.forms .tab h2 {
    font-weight: 400;
    margin-bottom: 15px;
}
.forms .tab .box-input{
    margin-bottom: 15px;
}
.forms .tab .box-input:nth-child(1) input{
    width: 60%
}
.forms .tab .box-input:nth-child(2) input{
    width: 20%
}
.forms .tab .box-input input{
    background: transparent;
    border-bottom: 1px solid #c1c4c5;
    border-left: 1px solid #c1c4c5;
    padding: 5px 10px;
}

.styled-select{
    display: inline-block;
    position: relative;
    width: auto;
}
.styled-select select {
    -webkit-appearance: none;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #c1c4c5;
    border-left: 1px solid #c1c4c5;
    border-radius: 0;
    color: #a5a5a5;
    font-size: 13px;
    height: 34px;
    line-height: 1;
    padding: 5px 10px;
    outline: none;
    width: 268px;
}
.styled-select select option{
    font-size: 14px;
}
.styled-select:after {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #c1c4c5;
    content: "";
    display: inline-block;
    height: 0; 
    margin-right: 10px;
    margin-top: -3px;
    position: absolute;
    right: 0;
    top: 50%;
    width: 0;
    vertical-align: middle;
}

.list-cities li{
    background: #d6d6d7;
    border-radius: 4px;
    box-shadow: 10px 10px 10px #c1c4c5;
    display: flex;
    font-weight: 500;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 20px;
}
.list-cities li span {
    font-weight: 300;
}
.list-cities__data{
    flex: 1;
}

.list-cities__action--alter{
    color: #155724;
    background-color: #6cda86;
}
.list-cities__action--delete{
    background-color: #f80d23;
    color: #fff;
}

#modal{
    height: 0;
    transition: opacity 0.4s;
}
#modal:before{
    background: rgba(0,0,0,0.6);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
#modal:target{
    height: auto;
    opacity: 1;
    pointer-events: auto;
}
#modal.open-modal{
    display: block;
    transition: opacity 0.4s;
}
#modal.open-modal:before{
    z-index: 1000;
}
#modal .box-form .close:hover{
    opacity: 0.9;
    transition: all 0.5s;
}
#modal .box-modal{
    background: #fff;
    border-radius: .3rem;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);
    box-sizing: border-box;
    height: 28%;
    left: 50%;
    max-width: 900px;
    min-height: 200px;
    position:fixed;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 34%;
    z-index: 1001;
}
#modal .box-modal .header-modal, #modal .box-modal .footer-modal{
    color: #333;
    display: flex;
    padding: 10px 20px;
}
#modal .box-modal .header-modal, #modal .box-modal .footer-modal .btn{
    padding: 5px 15px;
}
#modal .box-modal .header-modal{
    border-bottom: 1px solid #eceeef;
}
#modal .box-modal .header-modal{
    border-bottom: 1px solid #eceeef;
}
#modal .box-modal .header-modal .titulo-modal{
    display: inline-block;
}
#modal .box-modal .header-modal .close{
    color: #333;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    right: 10px;
    top: 0;
    transition: all 0.5s;
}
#modal .box-modal .header-modal .close:hover{
    opacity: 0.9;
    transition: all 0.5s;
}
#modal .box-modal .content-modal{
    padding: 20px;
    word-wrap: break-word;
}
#modal .box-modal .footer-modal{
    bottom: 0;
    border-top: 1px solid #eceeef;
    height: auto;
    justify-content: flex-end;
    left: 0;
    position: absolute;
    width: 100%;
}

@media screen and (max-width: 768px){
    #modal .box-modal{
        position: absolute;
        width: 90%;
    }
}

  @media screen and (max-width: 480px){
    .forms .tab .box-input input{
        width: 100% !important;
    }
    .list-cities li{
        font-size: 14px;
        flex-direction: column;
    }
    .list-cities__data {
        margin-bottom: 15px;
    }
    .styled-select, .styled-select select {
        width: 100%
    }
    #modal .box-form .close{
        right: 10px;
        top: 5px;
    }
  }