.message {
    border: 1px solid transparent;
    border-radius: .25rem;
    bottom: 20px;
    font-family: var(--family1);
    margin-bottom: 1rem;
    opacity: 0;
    padding: .75rem 1.25rem;
    position: fixed;
    right: 20px;
    transition: opacity 0.5s ease-in-out;
    z-index: 9999;
}
.message.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}

.message.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    transition: opacity 0.5s ease-in-out;
    opacity: 1;
}