.tabs{
    display: flex;
}
.tabs [data-mobile="tab--mobile"]{
    display: none;
}
.tabs--item {
    background: #c1c4c5;
    border-left: 1px solid #c1c4c5;
    border-right: 1px solid #c1c4c5;
    border-top: 1px solid #c1c4c5;
    cursor: pointer;
    margin: 0 5px -1px 0;
    padding: 6px 15px;
    transition: background 0.5s ease-in-out;
}
.tabs--item:hover {
    background: #eaeaea;
}
.tabs--item.tab--active{
    background: #eaeaea;
}
.tabs--item.tab--active:hover{
    background: #eaeaea;
}

@media screen and (max-width: 812px){
    .tabs [data-mobile="tab--mobile"]{
        display: block;
    }
}

@media screen and (max-width: 480px) {
    .tabs--item {
        font-size: 14px;
    }
}